<div class="container">
  <h1 class="text-center text-red ">Answers</h1>

  <h1>This is what I ask:</h1>

  <h2 class="text-red"><%= @ask%></h2>

  <h2>This is my response as a coach:</h2>

  <h1 class="text-red"><%= @answer %></h1>

  <%= link_to "Go Back" , ask_path , class: "btn btn-primary" %>
</div>
